@import '../../variables.scss';
:host {
  display: block;
  background-color: white;
  width: 80%;
  filter: drop-shadow(6px 0px 9px grey);
}

.video-container{
  margin: 15px 100px 50px 100px;

}

h1 {
  font-size: $font-size-title;
  font-weight: bold;
  display: inline-block;
}

h1:after {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  background: black;
  transition: 300ms;
}

h1:hover:after {
  width: 100%;
}
.floated-image{
  float: right;
}

img {
  margin-left: 40px;
  margin-bottom: 20px;
  height: 250px;
}
