<!--Header & Nav-->
<mat-tab-group>
  <mat-tab label="Home">
    <app-home></app-home>
  </mat-tab>
  <mat-tab label="Fotos">
    <mat-card>Simple card</mat-card>
  </mat-tab>
  <mat-tab label="Videos"> Content 3</mat-tab>
</mat-tab-group>

<!--Footer-->
<footer>

  <div class="footer-container">
    <div class="footer-left-container">
      <h1>Links</h1>
    </div>
    <div class="footer-right-container">
      <div class="footer-right-content">
        <h1>Impressum</h1>
        <p>Fussball</p>
        <p>gbs.info@sg.ch</p>
        <p>Demutstrasse 115</p>
        <p>9012 St. Gallen</p>
      </div>
    </div>
  </div>

  <div class="footer-copy-right">
    <p>Elias Keller Copyright</p>
  </div>

</footer>
