@import '../variables.scss';

.mat-tab-header{
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.mat-tab-labels {
  position: sticky;
  top: 0;
  height: 65px;
  background-color: $second-background-color;
  display: flex;
  justify-content: flex-end;
}

.mat-tab-label {
  font-size: $font-size-header;
  color: $second-font-color !important;
  height: 100% !important;
}

.mat-tab-label.mat-tab-label-active {
  color: $second-font-color !important;
}

.mat-ink-bar {
  background-color: $second-font-color !important;
  height: 5px !important;
}

.mat-tab-body-content {
  display: flex;
  justify-content: center;
}

.mat-icon-button {
  display: none;
}


footer {
  background-color: $second-background-color;
  width: 100%;
  color: $second-font-color;

}

.footer-container{
  display: flex;
  flex-direction: row;
}

.footer-left-container, .footer-right-container{
  width: 50%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

h1 {
  font-size: $font-size-footer;
}

.footer-right-content > p {
  line-height: 5px;
}

.footer-copy-right{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $second-font-color;
  color: $second-background-color;
  font-weight: bold;
}


@media (max-width: 620px) {
  .mat-tab-labels {
    height: 65px;
    justify-content: space-between;
  }

  .mat-tab-label {
    font-size: $font-size-header-small;
  }

  .mat-menu-trigger{
    position: absolute !important;
    color: red;
    z-index: 5;
    top: 12px;
  }

  .mat-icon-button {
    display: inline-block;
  }


  footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-container{
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 550px) {
  h1 {
    font-size: $font-size-footer-small;
  }


}
