@import '~@angular/material/prebuilt-themes/purple-green.css';
@import 'variables.scss';

html, body {
  height: 100%;
}

body {
  color: $main-font-color;
  background-color: $main-background-color;
  margin: 0;
  font-family: OCR A Std, monospace;
  font-size: $font-size-default;
}

* {
  font-family: OCR A Std, monospace;
}

@media (max-width: 550px) {
  body {
    font-size: $font-size-default-small;
  }



}

