$main-font-color: black;
$second-font-color: #dbcfb0;
$title-font-color: #7a9e7e;

$main-background-color: #bfc8ad;
$second-background-color: #001a23;

$font-size-header: 40px;
$font-size-footer: 30px;
$font-size-title: 45px;
//$font-size-default:
